* {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* header */
.header {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.7);
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
}

.header ul li {
    border: 1px solid white;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px;
    margin-right: 20px;
}

.header ul li a {
    color: white;
}

/* main */
.main {
    /* 方案1 整个屏幕居中*/
    display: flex;
    /* width: 100%;
    height: 100%; */
    /* 方案2 在大导航区居中*/
    height: calc(100vh - 70px);
}

.main-nav {
    width: 1000px;
    height: 300px;
    /* background-color: gray; */
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

/* item */
.main-nav .item {
    width: 180px;
    height: 300px;
    background-color: orange;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.1s linear;
}

.main-nav .item:nth-child(1) {
    background-color: #595CA8;
}

.main-nav .item:nth-child(2) {
    background-color: #FF9D2E;
}

.main-nav .item:nth-child(3) {
    background-color: #01A6DE;
}

.main-nav .item:nth-child(4) {
    background-color: #015E91;
}

.main-nav .item:nth-child(5) {
    background-color: #1DC128;
}

.main-nav .item:hover {
    box-shadow: 0px 0px 20px 1px black;
}

.main-nav span {
    font-size: 20px;
    color: white;
}